<div class="footer">
    <ul>
        <li><a href="/chelsea">Home</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/trophies">Trophies</a></li>
        <li><a href="/fixtures">Fixtures</a></li>
    </ul>
    <h5 class="foot">COPYRIGHT &copy; CHELSEA F.C. | DESIGNED BY STEVEN MIKHU</h5>
</div>