<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <%- include('./partials/navbar.ejs') %>
    </nav>

        <img class="bridge" src="/images/bridge.png" alt="">
        <div class="history">
        <h1>BRIEF HISTORY</h1>
            <h4>Chelsea Football Club is an English professional football club based in Fulham, West London. Founded in 1905, the club competes in the Premier League, the top division of English football. Chelsea are among England's most successful clubs, having won over thirty competitive honours, including six league titles and eight European trophies. Their home ground is Stamford Bridge. Chelsea won their first major honour, the League championship, in 1955. The club won the FA Cup for the first time in 1970 and their first European honour, the Cup Winners' Cup, in 1971. After a period of decline in the late 1970s and 1980s, the club enjoyed a revival in the 1990s and had more success in cup competitions. The past two decades have been the most successful in Chelsea's history: they have won five Premier League titles, two UEFA Champions League titles and two UEFA Europa League titles during this period. Chelsea are one of five clubs to have won all three of UEFA's main club competitions, the first English club to achieve the UEFA treble, the only London club to have won the Champions League and the only club to have won all three major European competitions twice. Chelsea's home kit colours are royal blue shirts and shorts with white socks. The club's crest features a ceremonial lion rampant regardant holding a staff. The club has rivalries with neighbouring teams Arsenal and Tottenham Hotspur, and a historic rivalry with Leeds United. Based on attendance figures, the club has the sixth-largest fanbase in England. In terms of club value, Chelsea are the sixth most valuable football club in the world, worth £2.13 billion ($2.576 billion), and are the eighth highest-earning football club in the world, with earnings of over €428 million in the 2017–18 season. Since 2003, Chelsea have been owned by Russian-Israeli billionaire Roman Abramovich.</h4>
        </div>


    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>

    <style>
        .bridge {
            width: 100%;
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
            padding: 10px;
            border-radius: 20px;
        }

        h4 {
            display: block;
            text-align: left;
            margin: 0 auto;
            padding: 10px;
            margin-top: 20px;
        }

        h1 {
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
        }
    </style>
</body>
</html>